.input-label {
}

.input-text:focus {
    outline: none;
}

.cart-caption {
    margin-bottom: 2rem;
}

.input-text {
  display: block;
  border-color: #3cc0b5;
  border-style: solid;
  border-radius: 0.75rem;
  padding: 0.5rem;
  box-sizing: border-box;
  background: white;
  color: black;
  transition-property: border-color;
  transition-duration: 0.25s;
}

.input-text:hover,
.input-text:focus {
  border-color: rgb(231, 175, 19);
}

.product-count {
    display: inline-block;
    width: 5rem;
}

.product-name {
    font-size: 1rem;
    font-family: 'Lobster', cursive;
}

@media (min-width: 25rem) {
    .product-name {
        font-size: 1.25rem;
    }
}

.payment-form {
    margin: 2rem;
}

.form-fields {
    display: flex;
    flex-wrap: wrap;
}

.final-total {
    display: flex;
}

.no-border {
    border: none;
}

.cart-contents {
    margin-bottom: 2rem;
    color: #524F5C;
}

table {
    border-collapse: collapse;
    text-align: center;
}

tr {
    border-bottom: 0.125rem solid #524F5C;
}

tr:last-child {
    border: none;
}


.number {
    font-family: 'Montserrat', sans-serif;
}

.price {
    font-size: 1rem;
}

.total {
    padding-top: 1.5rem;
    color: black;
}

@media (min-width: 25rem) {
    .price {
        font-size: 1.5rem;
    }

}


.checkout-fieldset {
    margin-bottom: 2rem;
    padding: 1rem;
    padding-bottom: 2rem;
    color: black;
    border-color: #524F5C;
}

.button-submit {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  transition-property: background-color, color;
  border: none;
  transition-duration: 0.5s;
  font-size: 1.2rem;
  cursor: pointer;
}

.button-submit {
    background-color: rgb(231, 175, 19);
    font-size: 1.2rem;
}

.button-submit:hover,
.button-submit:focus {
    background-color: rgb(245, 217, 139);

}


.image-link-image-cart {
    max-width: 16rem;
    height: auto;
    max-height: 12rem;
    width: 20vw;
    min-width: 5rem;

    /*
    transition-duration: 0.5s;
    transition-property: opacity;

    /*
    does not render properly in blink engine.
    */
}


@media (min-width: 40rem) {
    .image-link-image-cart {
        padding: 1rem;
    }
}
.image-link-image-cart:hover,
.image-link-image-cart:focus {
    opacity: 0.5;
}
.image-link-anchor-cart {
}

