.products {
    display: flex;
    list-style: none;
    margin: 1rem;
    padding: 0;
}

.product {
    background: white;
    margin: 1rem;
    box-shadow: 2px 2px 5px #b0b0b1;
}

.listing-main {
    text-align: center;
}

.listing-title,
.listing-price {
    display: block;
    text-decoration: none;
    color: #524F5C;
    font-size: 1.5rem;
    padding: 0.75rem;
}

.listing-title {
    font-family: 'Lobster', serif;
}

.listing-price {
    font-family: 'Montserrat', sans-serif;
}

.listing-title:hover,
.listing-title:focus {
    color: black;
}

.image-link-image {
    max-width: 16rem;
    height: auto;
    max-height: 12rem;
    width: auto;

    /*
    transition-duration: 0.5s;
    transition-property: opacity;

    /*
    does not render properly in blink engine.
    */
}

.image-link-anchor {
    display: inline-block;
    box-sizing: content-box;
    padding: 1rem;
    z-index: 10;
    min-height: 12rem;
    min-width: 16rem;
}

.image-link-back {
    line-height: 0;
    background: #37363a;
}

.image-link-image:hover,
.image-link-image:focus {
    opacity: 0.5;
}